@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import "@mantine/core/styles.css";
@import "@mantine/dates/styles.css";
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
     font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 12;
  font-style: normal;
}

body {
  margin: 0;
}


/* Scrollbar globale — Chrome/Edge/Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mantine-color-blue-4);
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--mantine-color-blue-6);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--mantine-color-blue-4) transparent;
}